body{
    margin: 0%;
    font-family: 'Raleway', sans-serif !important;
}

.space-container{
    min-height: 40px;
}

.main-background{
    width: 100%;
    position: relative;
    opacity: 0.9;
}

.top-container{
    position: relative;
}


.middle-element{
    width: 80%;
    height: 250px;
    position: absolute;
    top: 36%;
    left: 5%;
}

.img{
    width: 100%;
    height: auto;
}




.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
  
/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color:#90AFE8;
    top: 0;
    bottom: 0;
}

/* Container around content */
.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 100%;
}
  
  /* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid black;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Add arrows to the right container (pointing left) */
.timeline-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 20px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid  #E8E8EA;
    border-width: 10px 10px 10px 0;
    border-color: transparent #E8E8EA transparent transparent;
}
  
  /* Fix the circle for containers on the right side */
.timeline-right::after {
    left: -10px;
}
  
  /* The actual content */
.timeline-content {
    max-width: 900px;
    padding: 20px 30px;
    background-color:#E8E8EA;
    position: relative;
    border-radius: 6px;
}

.timeline-left {
    left: 0;
  }


.timeline-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #E8E8EA;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #E8E8EA;
  }


.dark-container{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #E8E8EA;
}

.skill-image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}



.animate-top{
    animation: animatetop 0.4s
}

@keyframes animatetop{
    from{
        top:-300px;
        opacity:0
    } 
    to{
        top:0;
        opacity:1;
    }
}